.education-container {
  background-color: #ffffff;
  padding: 2.5rem;
  margin: 1.5rem auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.profile-header {
  text-align: left;
  margin-bottom: 2rem;
}

.profile-header h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1c1c1c;
  margin-bottom: 0.5rem;
}

.profile-header p {
  font-size: 0.875rem;
  color: #6c757d;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.education-group {
  padding: 1.5rem;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.input-row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.input-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 240px;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: #333;
}

/* input,
select {
  padding: 0.625rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
} */

input:focus,
select:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.error {
  color: #e53935;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.add-btn {
  margin-left: auto;
  display: block;
  padding: 0.625rem 0.875rem;
  background-color: #ffffff;
  border: 1px solid #999;
  border-radius: 6px;
  font-size: 0.875rem;
  cursor: pointer;
  color: #333;
  transition: background-color 0.2s ease;
  width: fit-content;
}

.add-btn:hover {
  background-color: #f1f1f1;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.back-btn,
.next-btn {
  padding: 0.75rem 1.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.back-btn {
  background-color: #ffffff;
  color: #333;
}

.back-btn:hover {
  background-color: #f0f0f0;
}

.next-btn {
  background-color: #292666;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.next-btn:hover {
  background-color: #1f1c50;
}

.education-section {
  border-radius: 8px;
  background-color: #f9f9fb;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #e0e0e0;
}

.education-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.education-summary strong {
  font-weight: 600;
  font-size: 0.9375rem;
}

.education-years {
  font-size: 0.8125rem;
  color: #666;
}

.education-actions {
  display: flex;
  gap: 0.5rem;
}

.arrow-btn,
.delete-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.arrow-btn {
  color: #444;
}

.delete-btn {
  color: #b00020;
}

.education-details {
  margin-top: 1rem;
  border-top: 1px solid #eee;
  padding-top: 1rem;
}
